* {
    margin: 0;
}

html {
    overflow-x: hidden;
}

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");

@font-face {
    font-family: 'Onest';
    src: url(../font/Onest-VariableFont_wght.ttf);
}

/* Página Inicial */
.header-pagina {
    min-height: 10vh;
    margin: 0;
    background-color: rgba(28, 52, 51, 1);
}

.botao_in_company {
    border-radius: 10px;
}

.botao_contato:hover,
.botao_in_company:hover,
.botao_pagina_inicial:hover {
    scale: 1.05;
    transition: 0.5s;
}

.informacoes_pag-1 {
    margin-left: 200px;
}

.pagina_1 {
    background-image:
        linear-gradient(to right, rgba(28, 52, 51, 0.9), rgba(28, 52, 51, 0.4)),
        url(../img/Imagen_pagina_1.jpg);
    background-size: cover;
    background-position: center;

    min-height: 100vh;
}

.pagina_1>.informacoes_pag-1>.itens_pagina_1>.titulo {
    padding-top: 100px;

    max-width: 700px;

    word-break: break-word;
    /* Controla como as palavras vão ser quebradas */

    line-height: 70px;
    /* Define um espaço vertical entre as linhas */

    font-size: 60px;
    font-family: 'Onest';

    color: white;
}

.pagina_1>.informacoes_pag-1>.itens_pagina_1>h2>span {
    color: #53CC6C;
}

.pagina_1>.informacoes_pag-1>.itens_pagina_1>p {
    width: 400px;
    word-break: break-word;
    line-height: 150%;

    font-size: 18px;
    font-family: 'Onest';

    margin-bottom: 50px;

    color: white;
}

.pagina_1 .contato {
    text-decoration: none;
    color: white;

    padding: 15px 20px;
    border-radius: 10px;
    background-color: #53CC6C;
}

.contato:hover {
    transition: 0.5s;
    background-color: #7ae28f75;
}

/* Segunda Página */
.pagina_descricao {
    min-height: 100vh;
    width: 100%;
}

.descricao_do_fred {
    background-color: #2B2D3D;

    margin: 0;
}


.pagina_descricao>div>.imagem_pag_2 {
    min-height: 100vh;
    background-image: url(../img/imagen_pag2.jpg);
    background-size: cover;
}

.descricao_do_fred>.descricao>.titulo_descricao {
    color: #53CC6C;

    font-family: 'Onest';
}

.descricao_do_fred>.descricao>p {
    width: 100%;

    font-size: 18px;
    font-family: 'Onest';

    color: white;
}

.descricao_do_fred>.descricao>ul {
    list-style: none;
    margin: 0;
    /* Tira a margen padrão */

    padding: 0;
    /* Tira o espaçamento interno padrão */

    color: white;

    margin-bottom: 50px;
}

.descricao_do_fred>.descricao>ul>li>i {
    color: #53CC6C;

    font-size: 40px;

    margin-right: 20px;
}

.descricao_do_fred>div {
    margin-left: 100px;
    margin-top: 150px;

    width: 100%;


    font-family: 'Onest';
}

.botao_pag_descricao {
    text-decoration: none;
    color: white;

    padding: 15px 20px;
    border-radius: 10px;
    background-color: #53CC6C;
}

@media screen and (max-width: 768px) {
    .header-pagina {
        min-height: 15vh;
    }

    .informacoes_pag-1 {
        margin-left: 40px;
    }

    .pagina_1 {
        background-position: right;
    }

    .descricao_do_fred>.descricao>ul {
        margin-bottom: 10px;
    }

    .descricao_do_fred>div {
        margin-left: 50px;
        margin-top: 90px;
    }
}

@media screen and (min-width: 769px) {
    .pagina_1 {
        background-position: right;
    }

    .pagina_descricao>div>.imagem_pag_2 {
        height: 100vh;
    }

    .descricao_do_fred>.descricao>ul {
        margin-bottom: 30px;
    }

    .pagina_descricao{
        min-height: 100vh;
    }
}

@media screen and (min-width: 1200px) {

    .descricao_xeque_mate {
        margin-top: 100px;
        margin-left: 200px;
    }
}